/* &display=swap */
@import "null.css";
/* ==========================шрифты======================== */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@font-face {
	font-family: "Ubuntu";
	src: url("Ubuntu-Bold.woff2") format("woff2"), url("Ubuntu-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("Ubuntu-BoldItalic.woff2") format("woff2"), url("Ubuntu-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("Ubuntu-Italic.woff2") format("woff2"), url("Ubuntu-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("Ubuntu-Light.woff2") format("woff2"), url("Ubuntu-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("Ubuntu-LightItalic.woff2") format("woff2"), url("Ubuntu-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("Ubuntu-Medium.woff2") format("woff2"), url("Ubuntu-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("Ubuntu-MediumItalic.woff2") format("woff2"), url("Ubuntu-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("Ubuntu-Regular.woff2") format("woff2"), url("Ubuntu-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* ================================================================ */
body {
	font-family: Lato;
	color: #424551;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
/* =======================Статья======================== */
.header {
}
.main {
}
.article {
}
.conteriner-article {
	padding: 15px;
	max-width: 825px;
	margin: 0 auto;
}
.article-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin: 0px 0px 26px 0px;
	color: #1e212c;
}
.data-grey {
	color: #787a80;
	margin: 0px 0px 40px 0px;
}
.one {
	background: url("../img/calendar.svg") 0 0 no-repeat;
	padding: 0px 0px 0px 25px;
	display: inline-block;
	margin: 0px 24px 0px 0px;
}
.two {
	background: url("../img/clock.svg") 0 0 no-repeat;
	padding: 0px 0px 0px 25px;
	display: inline-block;
}
.image {
	margin: 0px 0px 60px 0px;
}
.image img {
	max-width: 100%;
}

.text {
	line-height: 1.6;
	margin: 0px 0px 24px 0px;
}
.boold {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.text-quotes {
	margin: 48px 0px;
	background: url("../img/braces.png") 0 0 no-repeat;
	padding: 0px 0px 0px 58px;
}
.list {
	margin: 0px 0px 24px 0px;
}
.list li {
	margin: 0px 0px 4px 0px;
	background: url("../img/Vector.svg") left top no-repeat;
	padding: 0px 0px 0px 32px;
}
.iteme {
}
.footer {
}
/* ==========кнопка=================== */
.conteiner-button {
	max-width: 1260px;
	margin: 0 auto;
	padding: 15px;
}
.createx {
	width: 30%;
	color: #1e212c;
}
.createx-sub-title {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.createx-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin: 0px 0px 50px 0px;
}
.createx-list {
	margin: 0px 0px 48px 0px;
}
.createx-iteme {
	margin: 0px 0px 12px 0px;
	background: url("../img/Vector.svg") left top no-repeat;
	padding: 0px 0px 0px 32px;
}
.createx-button {
	color: white;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: 44px;
	padding: 0px 32px;
}
/* ==============Проработка==================== */

.ubuntu {
	font-family: Ubuntu;
	font-size: 46px;
}
p {
	margin: 0px 0px 15px 0px;
}
.BoldItalic {
	font-weight: 700;
	font-style: italic;
	background-color: red;
}
.Italic {
	font-style: italic;
	background-image: url(../img/Job/ava.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 150px;
	height: 150px;
}
.Light {
	font-weight: 300;
	height: 400px;
	background: url("..//img/Job/logo.png") center / 100% auto no-repeat;
}
.LightItalic {
	font-weight: 300;
	font-style: italic;
	height: 600px;
	background: url("..//img/Job/logo.png") center / auto 100% no-repeat;
}
.Medium {
	font-weight: 500;
	height: 400px;
	background: url("..//img/Job/logo.png") center / contain no-repeat;
	overflow: auto;
}
.MediumItalic {
	font-weight: 500;
	font-style: italic;
	height: 400px;
	background: url("..//img/Job/logo.png") 0 0 / cover no-repeat;
	overflow: auto;
}
.Regular {
	font-weight: 400;
	height: 400px;
	background: url("..//img/Job/logo.png") center no-repeat fixed;
	overflow: auto;
}
.Bold {
	font-weight: 700;
	height: 400px;
	background: url("..//img/Job/logo.png") center no-repeat local;
	overflow: auto;
}
.link {
	display: inline-block;
	font-size: 46px;
	margin: 15px 20px;
	padding: 5px 30px;
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 23%, rgba(252, 176, 69, 1) 62%);
	border-radius: 15px;
	box-shadow: 15px 15px 15px black;
}
